*.apk
fs/*
!fs/placefile
flash/*
!flash/uuu.exe
!flash/libusb-1.0.dll
!flash/uuu-android-mx8qm-mek-emmc.lst
!flash/uuu-android-mx8qm-mek-emmc-part.lst
!flash/uuu-android-mx8qm-mek-emmc-no-erase.lst
!flash/uuu-android-mx8qm-mek-emmc-xen.lst
!flash/uuu-android-mx8qm-mek-emmc-part-xen.lst
!flash/uuu-android-mx8qm-mek-emmc-no-erase-xen.lst
!flash/uuu-u-boot-imx8qm.imx
!flash/partition-table-28GB.img
test/*
!test/placefile
copy/fs/*
!copy/fs/config.txt
copy/flash/*
!copy/flash/config.txt
pull/*
!pull/config.txt
